Package: xyz.olivrb.packagecount
Name: Package Count
Depends: mobilesubstrate, firmware (>= 2.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Display amount of packages installed per repository in Cydia!
Maintainer: Oliver Boudet
Author: Oliver Boudet
Section: Tweaks
